.battery{
    margin-top: 100px;
    margin-left: 100px;
    width: 300px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5%;
    position: relative;

    &::after{                  
        content: 'Low battery';       
        font-weight: bold;
        font-size: 28px;
        color: white;
        text-align: center;
        box-sizing: border-box; 
        display: flex;
        align-items: center; 
        background:red;
        position: absolute;
        left: 2px;
        top: 2px;
        width: 120px;
        height: 146px;
        border-radius: 5%;
    }

    &::before{
        content: '';
        width: 12px;
        height: 70px;
        border-radius: 20%;
        background:black;
        position: absolute;
        left: 300px;
        top: 40px;
    }
}

.menu{
    margin-top: 100px;
    margin-left: 100px;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: start; 
    align-items: center;

    &__box{
        width: 200px;
        height: 100px;
        background: linear-gradient(to right, red, green);
        clip-path: polygon(0 0, 150px 0, 200px 50px, 150px 100px, 0 100px, 50px 50px);
        transition: 0.3s;

        &:hover{
            z-index: 1; 
            transform: scale(1.3); 
        }

        &_first{
            width: 200px;
            height: 100px;
            clip-path: polygon(0 0, 150px 0, 200px 50px, 150px 100px, 0 100px);
            position: relative;
        }

        &_second{
            position: absolute;
            left: 258px;
        }

        &_third{
            position: absolute;
            left: 408px;
        }
    }
}
.block{
    margin-top: 100px;
    margin-bottom:100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    height: auto;
    box-sizing: border-box;

    @media screen and (max-width:1024px){
    flex-direction: column;
    }

    &__item{
        width:50%;
        display: flex;
        flex-direction: row; 
        justify-content: space-around; 
        align-items: center; 
        box-sizing: border-box;
        
        @media screen and (max-width:1024px){
            width: 100%;
        }

        @media screen and (max-width:768px){
            flex-direction: column;
        }
    }
    
    &__item_cell{
        width: 150px;
        height: 150px;
        background-color: olivedrab;
        color: black;
        font-size: 40px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;     
        
        @media screen and (max-width:1024px){
            margin-block-end: 10px;
        }
        
        @media screen and (max-width:768px){
            width: 100%;
        }
    }
}